@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$primary: #00FF33;
$secondary: #F700FF;



$font-family-sans-serif:   'Anton',   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "~bootstrap/scss/bootstrap";

